body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    background-image: url(rain-clouds.png);
    background-size: cover;
}

.navBar {
    background-color: rgb(40,46,43);
    overflow: hidden;
    width: 100%;
    height: 3em;
    margin-left: 0%;
    padding-left: 26%;
}

.navBar a {
    float: left;
    text-align: center;
    padding: 18px 26px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}

.navBar a:hover {
    background-color: #d9b669;
    color: whitesmoke;
    font-size: 20px;
}

#home {
    margin: 1em 0 2em 0;
    width: 100%;
    height: 400px;
    background-image: url(rain-clouds.png);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
    text-shadow: 1px 1px 2px rgb(40,46,43), 0 0 15px salmon, 0 0 5px grey;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 8px 0 rgb(40,46,43);
}

#home img {
    margin-left: 0;
    height: 400px;
    width: 500px;
}

#about {
    text-align: left;
    margin-left: 0em;
    padding: 1em;
    background-color: rgba(217,182,105,0.7);
    color: rgb(40,46,43);
}

#about h1 {
    text-align: left;
}

#shop img {
    width: 200px;
    margin: 1em 3em 3em 3em;
}

#visit {
    position: relative;
    width: 94%;
    height: 300px;
    margin: 0 0 1em 0;
    padding-left: 3em;
    padding-top: 1em;
    text-align: left;
    background-color: rgb(141,141,141);
    color: rgb(40,46,43);
    border: 10px solid whitesmoke;
}

table {
    width: 100%;
}

table.address {
    position: absolute;
    top: 150px;
    right: 30px;
    width: 75%;
    margin-right: 0px;
    margin-left: auto;
}

div {
    margin-left: 5.5em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


/*img {
    width: 5em;
}*/